.address-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.checkbox-group {
  label {
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      margin-right: 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
    }
  }
}
